.page-container {
    .component-list {
        list-style: none;

        li {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #DEDEDE;
        }
    }
}

